{% extends "base.html" %}

{% load static %}

{% block logo %}

{% endblock %}

{% block localstyle %}
    <link href="{% static 'style/aboutstyle.css' %}" rel="stylesheet">
{% endblock %}
     {% block title %}
                <div class="d-flex justify-content-center"><h1>Добро пожаловать в салон красоты Антоновой Анастасии Андреевны</h1></div>
                <div style="padding-top: 80px" class="d-flex justify-content-center"><h1> Спасибо за отзыв, на важно ваше мнение!!!</h1></div>
            {% endblock %}

{% block headercontent %}

{% endblock %}

{% block content %}

{% endblock %}