{% extends "base.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'styles/book_style.css' %}" rel="stylesheet">
{% endblock %}
     {% block title %}
                <div style="margin-left: 600px" class="d-flex justify-content-center"><h1> Контакты</h1></div>
          </div>
            {% endblock %}

{% block headercontent %}

{% endblock %}

{% block content %}
<form method="post" action="comment/" class="row g-3">
    {% csrf_token %}
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="@example.com">
         <input  name="name" type="text" class="form-control"  placeholder="Ваше имя">

</div>
<div class="mb-3">
  <label  class="form-label"><h3><p>Здесь вы можете оставить свой отзыв!!!</p></h3></label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name="comm" rows="3"></textarea>
</div>

         <div style="text-align: center">
    <button  style="font-size: 30px" class="glow-on-hover" type="submit">Отправить</button>

  </div>
</form>
<div style="text-align: center">
<label  class="form-label"><h1><p style="color: blue"></p></h1></label>
    </div>
                <div class="container">
                    <div class="row">
                        {% include "cont.html" %}
                    </div>
                </div>
{% endblock %}
