{% extends "base.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'styles/book_style.css' %}" rel="stylesheet">
{% endblock %}

{% block headercontent %}
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="d-flex justify-content-center"><h3><p>Здесь вы можете оставить свой отзыв!!!</p></h3></div>
{% endblock %}

{% block content %}

    

{% endblock %}