{% extends "base.html" %}
{% load static %}
{% block title %}
                <div><h1 style="margin-left: 590px" >Ваша корзина <button type="button" style="margin-left: 1350px" class="btn btn-outline-primary"><a href="http://127.0.0.1:8000/main/">Войти</a></button></h1></div>
          </div>
            {% endblock %}
{% block localstyle %}
<link href="{% static 'styles/mainstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form method="POST" action="" class="d-flex">
        {% csrf_token %}
      <button class="btn btn-outline-success" type="submit">Оплатить</button>

    </form>
  </div>
</nav>

                    <div class="row">
                      {% if count > 0 %}
                            {% include "item_off.html" %}
                        {% else %}
                            <h4> По вашему запросу ничего не найдено </h4>
                        {% endif %}
                    </div>
{% endblock %}
