{% extends "base.html" %}
{% load static %}

{% block content %}

    <div style="padding: 20px;" class="container">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column">
                  <li class="nav-item">
                  </li>
                    {% for text, url in data.items %}
                  <li class="nav-item">
                    <a class="nav-link"></a> {{ url }}{{ text }}
                  </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-10">
              <div class="container">

                    <div class="row">
                      {% if count > 0 %}
                            {% include "item.html" %}
                        {% else %}
                            <h4> По вашему запросу ничего не найдено </h4>
                        {% endif %}
                    </div>
{% endblock %}
