{% extends "base.html" %}
{% load static %}

{% block localstyle %}
<link href="{% static 'styles/mainstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
<button type="button" class="btn btn-primary position-relative">
  Ваша Корзина
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    4
    <span class="visually-hidden">Новых товаров</span>
  </span>
</button>
    <form method="GET" action="search_product/" class="d-flex" role="search">
        {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="поиск" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Найти</button>

    </form>
  </div>
</nav>

                    <div class="row">
                      {% if count > 0 %}
                            {% include "item.html" %}
                        {% else %}
                            <h4> По вашему запросу ничего не найдено </h4>
                        {% endif %}
                    </div>
{% endblock %}
