{% extends "base.html" %}
{% load static %}

{% block logo %}
<style>
.social-icons-5 {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.social-icons-5 a {
    text-decoration: none;
    color: #fff;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 6px;
    font-size: 26px;
    background: #337AB7;
    transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
    transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
    transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
.social-icons-5 a img {
    width: 26px;
    height: 26px;
}
.social-icons-5 a i,
.social-icons-5 a img {
    transition: transform 0.4s linear 0s;
}
.social-icons-5 a:hover {
    transform: rotate(360deg);
    border-radius: 50%;
}
.social-icons-5 a:hover i,
.social-icons-5 a:hover img {
    transform: rotate(-360deg);
}
</style>
<ul class="social-icons-5">
    <li><a href="https://vk.com/id148956169">VK<i class="fa fa-vk"></i></a></li>
    <li><a href="#">OK<i class="fa fa-odnoklassniki"></i></a></li>
    <li><a href="#">Telegram<i class="fa fa-telegram"></i></a></li>
    <li><a href="#">Twitter<i class="fa fa-twitter"></i></a></li>

</ul>
{% endblock %}

{% block localstyle %}
    <link href="{% static 'style/aboutstyle.css' %}" rel="stylesheet">
{% endblock %}
     {% block title %}

            {% endblock %}

{% block headercontent %}

{% endblock %}

{% block content %}
<div class="d-flex justify-content-center"><img src="https://sun9-44.userapi.com/s/v1/ig2/s0lnJfDcJInFM_yTTKGIONM4JDeCrQhLw97Jc-fdJUmshdVS_at-9qKxtCLkswliPN4R_tucnZ8cEVfoazBrftBm.jpg?quality=95&as=32x42,48x63,72x94,108x141,160x209,240x313,360x470,480x626,540x704,640x835,720x939,1080x1409,1280x1670,1440x1878,1570x2048&from=bu&u=sXCOOTMGRO7QlYp1huwREeay00Yj0eKEZF48p85vCu4&cs=619x807" style="max-height: 600px"></div>

<div class="container" style="background-color: #fefffede; background-color: #fefffede; border-radius: 10px; border: 2px solid blue">
   <img src="">
    <h1><p>Всем привет<br>
Меня зовут Анастасия💥 и я дипломированный<br>
Парикмахер-колорист-визажист, Заволжский район<br>

Хочу пригласить вас на такие процедуры как:<br>
🔹Окрашивания ( любой сложности);<br>
🔹Стрижки ( женские, мужские);<br>
🔹 Кератиновое выпрямление волос;<br>
🔹Ботокс и нанопластика<br>
🔹Скрытые и цветные окрашивания;<br>
🔹Химическая завивка;<br>
🔹Укладки и прически<br>
🔹Профессиональный макияж<br>
Я ЖДУ ИМЕННО ТЕБЯ❤️🔥<br>

Каждому подписавшемуся на <a href="https://vk.com/id148956169">группу в VK<i class="fa fa-vk"></i></a> СКИДКА 10%</p></h1>
    </div>
<div class="d-flex justify-content-center">><img src="https://bizprinting.ru/image/catalog/products/full_13013.jpg" style="margin-right: 100px; padding-top: 100px; max-width: 1000px; height:auto;">
></div>
{% endblock %}
