{% load static %}
{% for product in data %}
          <div style="padding-top: 100px " class="col-4">
            <div class="card mb-4" style="border: 2px solid blue">
                <div style="margin-left: -25px" class="row g-5">
                  <div>
                    <img style="object-fit: contain, margin: 20px auto;
                                    width: 100%;
                                    height: 100%; " src=" {{product.url }} ">
                  </div>
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.title }}</h5>
                      <p class="card-text"> {{ product.description|slice:"0:100"|add:"..." }} </p>
                        <p style="color: blue">Время работы мастера: {{product.work_time}}  ч</p>
                        <small class="text-muted">ID: {{product.foto_id}}</small>
                      <p class="card-text"><small class="text-muted">Рейтинг: {{product.counter}}</small></p>
                        <form method="POST" action="likes/">
                            {% csrf_token %}
                          <button name="foto_id" value="{{product.foto_id}}" style="margin-left: 250px" type="submit"
                                  class="btn btn-outline-primary">Оценить</button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
{% endfor %}