{% load static %}
{% for product in data %}
          <div style="padding-top: 50px" class="col-4">
            <div class="card mb-3" style="max-width: 540px; border: 2px solid blue">
                <div style="margin-left: 100px" class="row g-0">
                  <div class="col-md-4">
                    <img src=" {{product.url }} ">
                  </div>
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.title }}</h5>
                      <p class="card-text"> {{ product.description|slice:"0:100"|add:"..." }} </p>
                        <p style="color: blue">Время работы мастера {{product.work_time}} часа</p>
                      <p class="card-text"><small class="text-muted">Рейтинг: {{product.counter}}</small>
                          <button style="margin-left: 200px" type="submit" class="btn btn-outline-primary">Оценить</button></p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
{% endfor %}