{% extends "base.html" %}

{% load static %}

{% block logo %}

{% endblock %}

{% block localstyle %}
    <link href="{% static 'style/aboutstyle.css' %}" rel="stylesheet">
{% endblock %}
     {% block title %}
                <div class="d-flex justify-content-center"><h1>Внимание!!!</h1></div>
                <div class="d-flex justify-content-center"><h1> Вы ввели неверные параметры при регистрации, попробуйте еще раз!!!</h1></div>
            {% endblock %}

{% block headercontent %}
<a href="http://127.0.0.1:8000/registration/"><button type="button" class="btn btn-link">Назад</button></a>
{% endblock %}

{% block content %}

{% endblock %}